<div>
    {% for room in rooms%}
        <ul>
            <span><a href="{% url 'profile' room.host.id %}">@{{ room.host.username }}</a></span>
            <li>Id : {{ room.id }}, Name : <a href="{% url 'room' room.id%}">{{ room.name }}</a></li>
            <small>{{ room.topic.name }}</small>
            <br>
            {% if request.user == room.host %}
                <a href="{% url 'update-room' room.id %}">Update</a>
                <a href="{% url 'delete-room' room.id %}">Delete</a>
            {% endif %}
            <hr>
        </ul>
    {% endfor %}
</div>