{% extends 'main.html' %}

{% load static%}
{% block style %}
    <link rel="stylesheet" href="{% static 'base/home.css' %}">
{% endblock style %}

{% block content %}

<div class="home-container">

    <div class="browse">
        {% include 'base/topic_component.html' %}
    </div>

    <div class="rooms">
        <h5>{{room_count}} rooms available</h5>
        <a href="{% url 'create-room'%}">Create Room</a>

        {% include 'base/feed_component.html' %}
    </div>

    <div class="recent-activity">
        {% include 'base/activity_component.html' %}
    </div> 
</div>


{% endblock content %}