{% extends 'main.html' %}

{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'base/home.css' %}">
{% endblock style %}

{% block content %}

<h1>@{{ user }}</h1>
<a href="{% url 'update-profile' %}">Edit</a>

<div class="profile-container">
    <div class="browse">
        {% include 'base/topic_component.html' %}
    </div>

    <div class="rooms">
        {% include 'base/feed_component.html' %}
    </div>

    <div class="recent-activity">
        {% include 'base/activity_component.html' %}
    </div>
</div>

{% endblock content %}